.devcontainer/
node_modules/
.dockerignore
.vscode/
.browserslistrc
.editorconfig
.angular/
angular.json
karma.conf.js
package.json
tsconfig.app.json
tsconfig.json
tsconfig.spec.json
package-lock.json