<!-- all html here will be inserted inside tag app-root in index file -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I'm in the AppComponent</h3>
      <hr />
      <!-- angular selects by html tag -->
      <app-servers></app-servers>
      <!-- <div app-servers></div> angular selects by attribute -->
      <!-- <div class="app-servers"></div> angular selects by class -->
      <!-- selection by id is not supported by angular -->
    </div>
  </div>
</div>
