<label>Server Name</label>
<!-- dollar sign event will be the data emitted on that event  -->
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)" /> -->
<!-- works the same as above -->
<input type="text" class="form-control" [(ngModel)]="serverName" />
<p>{{ serverName }}</p>
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add Server
</button>
<!-- square brackets indicates to angular that we are using property binding -->
<!-- parenthesis indicates to angular that we are using event binding  -->
<p>{{ serverCreationStatus }}</p>
<app-server></app-server>
<app-server></app-server>
